WebForm/Connected Services/ServicioWS/LKServicioWeb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.service.lkprogrammers.org/" targetNamespace="http://services.service.lkprogrammers.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Reporte_general_notas_de_alumno" type="tns:Reporte_general_notas_de_alumno" />
  <xs:element name="Reporte_general_notas_de_alumnoResponse" type="tns:Reporte_general_notas_de_alumnoResponse" />
  <xs:element name="acceder_a_pagina" type="tns:acceder_a_pagina" />
  <xs:element name="acceder_a_paginaResponse" type="tns:acceder_a_paginaResponse" />
  <xs:element name="editarAlumno" type="tns:editarAlumno" />
  <xs:element name="editarAlumnoResponse" type="tns:editarAlumnoResponse" />
  <xs:element name="editarProfesor" type="tns:editarProfesor" />
  <xs:element name="editarProfesorResponse" type="tns:editarProfesorResponse" />
  <xs:element name="editar_age" type="tns:editar_age" />
  <xs:element name="editar_ageResponse" type="tns:editar_ageResponse" />
  <xs:element name="elimar_anio_escolar" type="tns:elimar_anio_escolar" />
  <xs:element name="elimar_anio_escolarResponse" type="tns:elimar_anio_escolarResponse" />
  <xs:element name="eliminarAlumno" type="tns:eliminarAlumno" />
  <xs:element name="eliminarAlumnoResponse" type="tns:eliminarAlumnoResponse" />
  <xs:element name="eliminarProfesor" type="tns:eliminarProfesor" />
  <xs:element name="eliminarProfesorResponse" type="tns:eliminarProfesorResponse" />
  <xs:element name="esTutorAsignado" type="tns:esTutorAsignado" />
  <xs:element name="esTutorAsignadoResponse" type="tns:esTutorAsignadoResponse" />
  <xs:element name="insertarAlumno" type="tns:insertarAlumno" />
  <xs:element name="insertarAlumnoResponse" type="tns:insertarAlumnoResponse" />
  <xs:element name="insertarAsistencia" type="tns:insertarAsistencia" />
  <xs:element name="insertarAsistenciaResponse" type="tns:insertarAsistenciaResponse" />
  <xs:element name="insertarAsistencias" type="tns:insertarAsistencias" />
  <xs:element name="insertarAsistenciasResponse" type="tns:insertarAsistenciasResponse" />
  <xs:element name="insertar_new_age" type="tns:insertar_new_age" />
  <xs:element name="insertar_new_ageResponse" type="tns:insertar_new_ageResponse" />
  <xs:element name="insertarprofesor" type="tns:insertarprofesor" />
  <xs:element name="insertarprofesorResponse" type="tns:insertarprofesorResponse" />
  <xs:element name="listarAdministradores" type="tns:listarAdministradores" />
  <xs:element name="listarAdministradoresResponse" type="tns:listarAdministradoresResponse" />
  <xs:element name="listarAlumnos" type="tns:listarAlumnos" />
  <xs:element name="listarAlumnosResponse" type="tns:listarAlumnosResponse" />
  <xs:element name="listarAlumnosxsalon" type="tns:listarAlumnosxsalon" />
  <xs:element name="listarAlumnosxsalonResponse" type="tns:listarAlumnosxsalonResponse" />
  <xs:element name="listarAnioEscolarVigente" type="tns:listarAnioEscolarVigente" />
  <xs:element name="listarAnioEscolarVigenteResponse" type="tns:listarAnioEscolarVigenteResponse" />
  <xs:element name="listarAniosEscolares" type="tns:listarAniosEscolares" />
  <xs:element name="listarAniosEscolaresResponse" type="tns:listarAniosEscolaresResponse" />
  <xs:element name="listarCompetencias" type="tns:listarCompetencias" />
  <xs:element name="listarCompetenciasResponse" type="tns:listarCompetenciasResponse" />
  <xs:element name="listarCursos" type="tns:listarCursos" />
  <xs:element name="listarCursosResponse" type="tns:listarCursosResponse" />
  <xs:element name="listarProfesores" type="tns:listarProfesores" />
  <xs:element name="listarProfesoresResponse" type="tns:listarProfesoresResponse" />
  <xs:element name="listarSalones" type="tns:listarSalones" />
  <xs:element name="listarSalonesResponse" type="tns:listarSalonesResponse" />
  <xs:element name="listarUsuarios" type="tns:listarUsuarios" />
  <xs:element name="listarUsuariosResponse" type="tns:listarUsuariosResponse" />
  <xs:element name="verificarUsuario" type="tns:verificarUsuario" />
  <xs:element name="verificarUsuarioResponse" type="tns:verificarUsuarioResponse" />
  <xs:complexType name="eliminarAlumno">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAlumnoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAsistencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="asistencia" type="tns:asistencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asistencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="dniAlumno" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoAsistencia" />
      <xs:element minOccurs="0" name="fechaHora" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAsistenciaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAniosEscolares">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAniosEscolaresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:anioEscolar" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="anioEscolar">
    <xs:sequence>
      <xs:element name="estado" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="fechaCerrado" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSalones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarSalonesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:salon" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="salon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="alumnos" nillable="true" type="tns:alumno" />
      <xs:element name="capacidadMaxima" type="xs:int" />
      <xs:element name="capacidadMinima" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cursos" nillable="true" type="tns:cursoHorario" />
      <xs:element minOccurs="0" name="gradoSalon" type="tns:grado" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idAnioEscolar" type="xs:int" />
      <xs:element minOccurs="0" name="tutor" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="codigoAlumno" type="xs:int" />
          <xs:element minOccurs="0" name="grado" type="tns:grado" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNac" type="xs:dateTime" />
      <xs:element name="genero" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cursoHorario">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="horarioDictado" nillable="true" type="tns:horario" />
      <xs:element minOccurs="0" name="profesor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="competencias" nillable="true" type="tns:competencia" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="competencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="peso" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="horario">
    <xs:sequence>
      <xs:element minOccurs="0" name="dia" type="tns:diaSemana" />
      <xs:element minOccurs="0" name="horaFin" type="tns:localTime" />
      <xs:element minOccurs="0" name="horaInicio" type="tns:localTime" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="profesor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="codigoProfesor" type="xs:int" />
          <xs:element minOccurs="0" name="especialidad" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="insertarAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="al" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlumnoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAlumnosxsalon">
    <xs:sequence>
      <xs:element name="idsalon" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAlumnosxsalonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="acceder_a_pagina">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="acceder_a_paginaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editar_age">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:anioEscolar" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editar_ageResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editarAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="al" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editarAlumnoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAdministradores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAdministradoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:personalAdministrativo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personalAdministrativo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="codigoPersonal" type="xs:int" />
          <xs:element minOccurs="0" name="puestoEjecutivo" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listarAnioEscolarVigente">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAnioEscolarVigenteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:anioEscolar" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esTutorAsignado">
    <xs:sequence>
      <xs:element minOccurs="0" name="dniProfesor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esTutorAsignadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarprofesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="pr" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarprofesorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editarProfesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="pr" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editarProfesorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCursosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUsuarios">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProfesores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarProfesoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAlumnos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAlumnosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAsistencias">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asistencias" type="tns:asistencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAsistenciasResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_new_age">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:anioEscolar" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_new_ageResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProfesor">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProfesorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elimar_anio_escolar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elimar_anio_escolarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCompetencias">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCompetenciasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:competencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Reporte_general_notas_de_alumno">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Reporte_general_notas_de_alumnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoAsistencia">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Presente" />
      <xs:enumeration value="Tardanza" />
      <xs:enumeration value="Ausente" />
      <xs:enumeration value="Justificada" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="grado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NN" />
      <xs:enumeration value="INI2" />
      <xs:enumeration value="INI3" />
      <xs:enumeration value="INI4" />
      <xs:enumeration value="INI5" />
      <xs:enumeration value="PRIM1" />
      <xs:enumeration value="PRIM2" />
      <xs:enumeration value="PRIM3" />
      <xs:enumeration value="PRIM4" />
      <xs:enumeration value="PRIM5" />
      <xs:enumeration value="PRIM6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="diaSemana">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Lunes" />
      <xs:enumeration value="Martes" />
      <xs:enumeration value="Miercoles" />
      <xs:enumeration value="Jueves" />
      <xs:enumeration value="Viernes" />
      <xs:enumeration value="Sabado" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>