WebForm/Connected Services/ServicioWS/LKServicioWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.service.lkprogrammers.org/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="LKServicioWeb" targetNamespace="http://services.service.lkprogrammers.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/LKProgramService/LKServicioWeb?xsd=1" namespace="http://services.service.lkprogrammers.org/" />
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="esTutor">
    <part name="parameters" element="tns:esTutor" />
  </message>
  <message name="esTutorResponse">
    <part name="parameters" element="tns:esTutorResponse" />
  </message>
  <message name="listarAdministradores">
    <part name="parameters" element="tns:listarAdministradores" />
  </message>
  <message name="listarAdministradoresResponse">
    <part name="parameters" element="tns:listarAdministradoresResponse" />
  </message>
  <message name="listarProfesores">
    <part name="parameters" element="tns:listarProfesores" />
  </message>
  <message name="listarProfesoresResponse">
    <part name="parameters" element="tns:listarProfesoresResponse" />
  </message>
  <message name="listarUsuarios">
    <part name="parameters" element="tns:listarUsuarios" />
  </message>
  <message name="listarUsuariosResponse">
    <part name="parameters" element="tns:listarUsuariosResponse" />
  </message>
  <message name="listarAlumnos">
    <part name="parameters" element="tns:listarAlumnos" />
  </message>
  <message name="listarAlumnosResponse">
    <part name="parameters" element="tns:listarAlumnosResponse" />
  </message>
  <portType name="LKServicioWeb">
    <operation name="hello">
      <input wsam:Action="http://services.service.lkprogrammers.org/LKServicioWeb/helloRequest" message="tns:hello" />
      <output wsam:Action="http://services.service.lkprogrammers.org/LKServicioWeb/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="esTutor">
      <input wsam:Action="http://services.service.lkprogrammers.org/LKServicioWeb/esTutorRequest" message="tns:esTutor" />
      <output wsam:Action="http://services.service.lkprogrammers.org/LKServicioWeb/esTutorResponse" message="tns:esTutorResponse" />
    </operation>
    <operation name="listarAdministradores">
      <input wsam:Action="http://services.service.lkprogrammers.org/LKServicioWeb/listarAdministradoresRequest" message="tns:listarAdministradores" />
      <output wsam:Action="http://services.service.lkprogrammers.org/LKServicioWeb/listarAdministradoresResponse" message="tns:listarAdministradoresResponse" />
    </operation>
    <operation name="listarProfesores">
      <input wsam:Action="http://services.service.lkprogrammers.org/LKServicioWeb/listarProfesoresRequest" message="tns:listarProfesores" />
      <output wsam:Action="http://services.service.lkprogrammers.org/LKServicioWeb/listarProfesoresResponse" message="tns:listarProfesoresResponse" />
    </operation>
    <operation name="listarUsuarios">
      <input wsam:Action="http://services.service.lkprogrammers.org/LKServicioWeb/listarUsuariosRequest" message="tns:listarUsuarios" />
      <output wsam:Action="http://services.service.lkprogrammers.org/LKServicioWeb/listarUsuariosResponse" message="tns:listarUsuariosResponse" />
    </operation>
    <operation name="listarAlumnos">
      <input wsam:Action="http://services.service.lkprogrammers.org/LKServicioWeb/listarAlumnosRequest" message="tns:listarAlumnos" />
      <output wsam:Action="http://services.service.lkprogrammers.org/LKServicioWeb/listarAlumnosResponse" message="tns:listarAlumnosResponse" />
    </operation>
  </portType>
  <binding name="LKServicioWebPortBinding" type="tns:LKServicioWeb">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="esTutor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAdministradores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProfesores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAlumnos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="LKServicioWeb">
    <port name="LKServicioWebPort" binding="tns:LKServicioWebPortBinding">
      <soap:address location="http://localhost:8080/LKProgramService/LKServicioWeb" />
    </port>
  </service>
</definitions>