WebForm/Connected Services/ServicioWS/LKServicioWeb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.service.lkprogrammers.org/" targetNamespace="http://services.service.lkprogrammers.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="editarAlumno" type="tns:editarAlumno" />
  <xs:element name="editarAlumnoResponse" type="tns:editarAlumnoResponse" />
  <xs:element name="editarProfesor" type="tns:editarProfesor" />
  <xs:element name="editarProfesorResponse" type="tns:editarProfesorResponse" />
  <xs:element name="esTutorAsignado" type="tns:esTutorAsignado" />
  <xs:element name="esTutorAsignadoResponse" type="tns:esTutorAsignadoResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="insertaTodasAsistencias" type="tns:insertaTodasAsistencias" />
  <xs:element name="insertaTodasAsistenciasResponse" type="tns:insertaTodasAsistenciasResponse" />
  <xs:element name="insertarAlumno" type="tns:insertarAlumno" />
  <xs:element name="insertarAlumnoResponse" type="tns:insertarAlumnoResponse" />
  <xs:element name="insertarAsistencia" type="tns:insertarAsistencia" />
  <xs:element name="insertarAsistenciaResponse" type="tns:insertarAsistenciaResponse" />
  <xs:element name="insertarprofesor" type="tns:insertarprofesor" />
  <xs:element name="insertarprofesorResponse" type="tns:insertarprofesorResponse" />
  <xs:element name="listarAdministradores" type="tns:listarAdministradores" />
  <xs:element name="listarAdministradoresResponse" type="tns:listarAdministradoresResponse" />
  <xs:element name="listarAlumnos" type="tns:listarAlumnos" />
  <xs:element name="listarAlumnosResponse" type="tns:listarAlumnosResponse" />
  <xs:element name="listarAlumnosxsalon" type="tns:listarAlumnosxsalon" />
  <xs:element name="listarAlumnosxsalonResponse" type="tns:listarAlumnosxsalonResponse" />
  <xs:element name="listarProfesores" type="tns:listarProfesores" />
  <xs:element name="listarProfesoresResponse" type="tns:listarProfesoresResponse" />
  <xs:element name="listarUsuarios" type="tns:listarUsuarios" />
  <xs:element name="listarUsuariosResponse" type="tns:listarUsuariosResponse" />
  <xs:element name="reporteGeneralNotasAlumno" type="tns:reporteGeneralNotasAlumno" />
  <xs:element name="reporteGeneralNotasAlumnoResponse" type="tns:reporteGeneralNotasAlumnoResponse" />
  <xs:element name="verificarUsuario" type="tns:verificarUsuario" />
  <xs:element name="verificarUsuarioResponse" type="tns:verificarUsuarioResponse" />
  <xs:complexType name="editarProfesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profesor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="codigoProfesor" type="xs:int" />
          <xs:element minOccurs="0" name="especialidad" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNac" type="xs:dateTime" />
      <xs:element name="genero" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editarProfesorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProfesores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarProfesoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUsuarios">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteGeneralNotasAlumno">
    <xs:sequence>
      <xs:element name="codigoAlumno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteGeneralNotasAlumnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="codigoAlumno" type="xs:int" />
          <xs:element minOccurs="0" name="grado" type="tns:grado" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listarAlumnos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAlumnosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertaTodasAsistencias">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="tns:asistencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asistencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="dniAlumno" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoAsistencia" />
      <xs:element minOccurs="0" name="fechaHora" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertaTodasAsistenciasResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlumnoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAlumnosxsalon">
    <xs:sequence>
      <xs:element name="idSalon" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAlumnosxsalonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editarAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editarAlumnoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAdministradores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAdministradoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:personalAdministrativo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personalAdministrativo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="codigoPersonal" type="xs:int" />
          <xs:element minOccurs="0" name="puestoEjecutivo" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="verificarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esTutorAsignado">
    <xs:sequence>
      <xs:element minOccurs="0" name="dniProfesor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esTutorAsignadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarprofesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarprofesorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAsistencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="asistencia" type="tns:asistencia" />
      <xs:element minOccurs="0" name="dniAlumno" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAsistenciaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="grado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NN" />
      <xs:enumeration value="INI2" />
      <xs:enumeration value="INI3" />
      <xs:enumeration value="INI4" />
      <xs:enumeration value="INI5" />
      <xs:enumeration value="PRIM1" />
      <xs:enumeration value="PRIM2" />
      <xs:enumeration value="PRIM3" />
      <xs:enumeration value="PRIM4" />
      <xs:enumeration value="PRIM5" />
      <xs:enumeration value="PRIM6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoAsistencia">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Presente" />
      <xs:enumeration value="Tardanza" />
      <xs:enumeration value="Ausente" />
      <xs:enumeration value="Justificada" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>